header{
    .logo {
        width: 3rem;
    }
    .dropdown {
        display: none;
    }
    .nav {
        font-weight: 700;
        li:hover {
            border: solid 1px black;
        }
    }  
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;

    .title-main{
        margin-bottom: 5%;
    }

    .form1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap:2rem;
        width:50%;
        height: 100%;
    }

    input{
        border: 1px solid black;
        border-radius: 12px;
        padding: 0.5rem;
    }

    textarea{
        height: 30%;
        border: 1px solid black;
    }

    button{
        width: 6rem;
        border: 1px solid black;
        background-color: transparent;
        font-weight: bolder;
    }
}

$breakpoints: (
    sm: 540px,
    md: 850px,
    lg: 1024px,
);

@mixin media-up($breakpoint){
    @media screen and (max-width: map-get($breakpoints, $breakpoint)){
        @content;
    }
}

@include media-up(md){
    main {
        height: 80vh;
        width: 100vw;
    }

    input{
        width: 100%;
    }

    #menu {
        display: none;
    }
    header .dropdown {
        display: flex;
    }
    .col-md-3 {
        display: none;
    }
}

@include media-up(sm){
    .form1{
        width:90%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 2;
    }
}







